configuration {
  modi:                 "drun,window,run,vscode:~/.config/rofi/rofi-vscode.sh";
  show-icons:           true;
  icon-theme:           "Papirus";
  terminal:             "ghostty";
  window-format:        "{w} · {c} · {t}";
  drun-display-format:  "{name}";
  disable-history:      false;
  max-history-size:     50;

  display-drun:         " Apps"; // 󰀻
  display-run:          " Runs";
  display-nerdy:        "󰱨 Nerdy";
  display-emoji:        "󰱨 Emoji";
	display-window:       " Windows";
  display-filebrowser:  " Files";
	display-ssh:          "󰣀 SSH";
	display-keys:         " Keys";
  display-vscode:       " VSCode";

  run,drun,window {
    fallback-icon: "application-x-executable";
  }
  vscode {
    fallback-icon: "visual-studio-code";
  }
}

@import "colors"

window {
  /*Removing height make the window height equal to num of opts*/
  /*height: 40%;*/
  width: 40%;
  orientation: vertical;
  location: center;
  anchor: center;
  x-offset: 0px;
  y-offset: 0px;
  margin: 8px;
  // padding: 8px;
  border: 3px;
  border-radius: 10px;
  spacing: 0px;
  children: [ mainbox ];
}

mainbox {
  spacing: 4px;
  children: [ inputbar, mode-switcher, listview ];
}

inputbar {
  spacing: 3px;
  /*padding: top right bottom left*/
  padding: 0px;
  children: [ textbox-prompt-colon, entry ];
}

prompt {
  padding: 3px;
  border-radius: 5px;
}

textbox-prompt-colon {
  expand: false;
  padding: 3px 18px;
  border-radius: 5px 0px 0px 0px;
  str: ""; /* */
  horizontal-align: 0.5;
  vertical-align: 0.5;
}

entry {
  placeholder:  " Search...";
  padding: 5px;
  border-radius: 5px;
}

mode-switcher {
  spacing: 3px;
  orientation: horizontal;
}

button {
  padding: 3px;
  border-radius: 0px;
}

listview {
  lines: 8;
  columns: 1;
  spacing: 3px;
  scrollbar: false;
  cycle: false;
  dynamic: false;
  fixed-height: false;
  spacing: 0px;
  /* List view has the dash border, Remove it here */
  /*border: 0px;*/
  margin: 0px;
  // padding: 8px;
  border: 0px;
  border-radius: 0 0 5px 5px;
}

element {
  border: 0px;
  // border-radius: 5px;
  padding: 3px;

  children: [ element-icon, element-text ];
  orientation: horizontal;
}

element-text {
  padding: 0px 2em;
  horizontal-align: 0;
  vertical-align: 0.5;
}

element-icon {
  size: 2em;
}
