configuration {
  modi:                 "drun,run,filebrowser,window";
  dpi:                  90;
  show-icons:           false;
  icon-theme:           "Papirus";
  terminal:             "footclient";
  window-format:        "{w} · {c} · {t}";
  disable-history:      false;
  max-history-size:     50;

  display-drun:         " Apps"; // 󰀻
  display-run:          " Runs";
  display-nerdy:        "󰱨 Nerdy";
  display-emoji:        "󰱨 Emoji";
	display-window:       " Windows";
  display-filebrowser:  " Files";
	display-ssh:          "󰣀 SSH";
	display-keys:         " Keys";
  display-calc:         " Calc";
  display-cliphist-rofi-img : " Clipboard";
}

@import "colors"

window {
  height: 60%;
  width: 40%;
  orientation: vertical;
  location: center;
  anchor: center;
  x-offset: 0px;
  y-offset: 0px;
  margin: 4px;
  padding: 4px;
  border: 3px;
  border-radius: 10px;
  spacing: 0px;
  children: [ mainbox ];
}

mainbox {
  spacing: 4px;
}

inputbar {
  spacing: 3px;
  /*padding: top right bottom left*/
  padding: 0px;
  children: [ prompt, entry ];
}

prompt {
  padding: 3px;
  border-radius: 5px 0px 0px 0px;
}

entry {
  placeholder:  "Search...";
  padding: 3px;
  border-radius: 0px;
}

message {
  padding: 3px;
  border: 0px;
}

listview {
  lines: 12;
  spacing: 3px;
  scrollbar: false;
  cycle: false;
  fixed-height: false;
  dynamic: false; // Shrinks windows to occupy search result
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

element {
  border: 0px;
  border-radius: 0px;
  padding: 3px;
}

element-text {
  horizontal-align: 0;
  vertical-align: 0.5;
}

element-icon {
  size: 2em;
}
