* {
  border: none;
  font-family: monospace, "tabler-icons";
  font-size: 13px;
  min-height: 30px;
}

window#waybar {
  background: alpha(@theme_bg_color, 0.8);
  color: @theme_text_color;
}

window#waybar.floating,
window#waybar.empty {
  background: transparent;
}

#workspaces,
#mpris,
#window,
#tray,
#custom-notification,
#backlight,
#battery,
#pulseaudio,
#bluetooth,
#network,
#clock {
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces,
#mpris {
  border-radius: 0px;
  margin-left: 6px;
}

#tray,
#custom-notification,
#backlight,
#battery,
#pulseaudio,
#bluetooth,
#network,
#clock {
  border-radius: 0px;
  margin-right: 6px;
}

#workspaces {
  border-radius: 0 4px 4px 0;
}

#custom-notification {
  border-radius: 4px 0 0 4px;
}

/* window#waybar.floating #workspaces, */
/* window#waybar.empty #workspaces, */
/* window#waybar.floating #mpris, */
/* window#waybar.empty #mpris, */
/* window#waybar.floating #window, */
/* window#waybar.empty #window, */
/* window#waybar.floating #tray, */
/* window#waybar.empty #tray, */
/* window#waybar.floating #custom-notification, */
/* window#waybar.empty #custom-notification, */
/* window#waybar.floating #backlight, */
/* window#waybar.empty #backlight, */
/* window#waybar.floating #battery, */
/* window#waybar.empty #battery, */
/* window#waybar.floating #pulseaudio, */
/* window#waybar.empty #pulseaudio, */
/* window#waybar.floating #bluetooth, */
/* window#waybar.empty #bluetooth, */
/* window#waybar.floating #network, */
/* window#waybar.empty #network, */
/* window#waybar.floating #clock, */
/* window#waybar.empty #clock { */
/*   background: alpha(@theme_bg_color, 0.8); */
/*   margin-top: 2px; */
/*   margin-bottom: 2px; */
/*   border-radius: 4px; */
/* } */

window#waybar.empty.eDP-1 #window,
window#waybar.empty.eDP-2 #window {
  background: transparent;
}

#tray {
  font-size: 12px;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  color: @insensitive_fg_color;
}

#workspaces button.active {
  color: @theme_text_color;
}

#workspaces button.urgent {
  color: @warning_color;
}
